@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}


.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 0px;
}

.sidenav h3{
  padding: 20px 8px 6px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #e8e8e8;
  display: block;
  font-family:"AppleSandollGothic",sans-serif;
  font-weight:bold;
}

.sidenav nav.navbar {
	
}

.sidenav dropdown-menu {
  min-width: 0rem; 
   background-color: #111;
}

.sidenav navbar { /* nav 색상 지정 */
	background: #096988;
	<%--margin-bottom: 3em;--%>
	padding-right: 3em;
}

.sidenav navbar-dark .navbar-nav .nav-link {
	color:#f2f2f2;
	
}

.sidenav textarea {
	resize: none;
}

.sidenav form-control:disabled, .form-control[readonly] {
    background-color: #fff;
} 

.sidenav a {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 13px;
  color: #cecece;
  display: block;
}

.sidenav .dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #f7f7f7;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0
}


.sidenav p{
  padding: 60px 8px 6px 30px;
  text-decoration: none;
  font-size: 12px;
  color: #909090;
  display: block;	
}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}